.navbar{
    background-color: rgb(179, 156, 28);
    display: flex;
    justify-content: space-evenly;

}
a {
    text-decoration: none;
    color : rgb(31, 23, 2);
}
li {
    list-style: none;
    background-color: rgb(211, 183, 122);


}


